In [7]:
import pandas as pd
import os

In [8]:
data_path = "/home/joaomonteiro/Desktop/teste/trabalho_CDLE/data"

dfs = []
for filename in os.listdir(data_path)[:5]:
    filepath = os.path.join(data_path, filename)
    df = pd.read_parquet(filepath)
    if 'airport_fee' in df.columns:
        # Rename the column to "Airport_fee"
        df.rename(columns={'airport_fee': 'Airport_fee'}, inplace=True)
    dfs.append(df)

In [9]:
len(dfs)

5

In [10]:
df = pd.concat(dfs, ignore_index=True)

In [11]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-06-01 00:08:48,2023-06-01 00:29:41,1.0,3.40,1.0,N,140,238,1,21.9,3.50,0.5,6.70,0.0,1.0,33.60,2.5,0.00
1,1,2023-06-01 00:15:04,2023-06-01 00:25:18,0.0,3.40,1.0,N,50,151,1,15.6,3.50,0.5,3.00,0.0,1.0,23.60,2.5,0.00
2,1,2023-06-01 00:48:24,2023-06-01 01:07:07,1.0,10.20,1.0,N,138,97,1,40.8,7.75,0.5,10.00,0.0,1.0,60.05,0.0,1.75
3,2,2023-06-01 00:54:03,2023-06-01 01:17:29,3.0,9.83,1.0,N,100,244,1,39.4,1.00,0.5,8.88,0.0,1.0,53.28,2.5,0.00
4,2,2023-06-01 00:18:44,2023-06-01 00:27:18,1.0,1.17,1.0,N,137,234,1,9.3,1.00,0.5,0.72,0.0,1.0,15.02,2.5,0.00

In [12]:
file_path = 'data/yellow_tripdata_5_months.parquet'

# Save the DataFrame as a Parquet file
df.to_parquet(file_path)